<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/head2'); %>
        <!-- Custom styles for this template -->
        <link href="../assets/css/navBar.css" rel="stylesheet">
        <link href="../assets/css/carousel.css" rel="stylesheet">
        <link href="../assets/css/heroes.css" rel="stylesheet">
        <link href="../assets/css/features.css" rel="stylesheet">

</head>

<body class="bg-light">

    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light" aria-label="Main navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">E-Summit 2021</a>
            <button class="btn btn-outline-primary btn-sm" type="button" id="register_button"
                aria-label="Toggle navigation">
                Pre-Register Now
                <!-- <span class="navbar-toggler-icon"></span> -->
            </button>
            <!-- <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->

            <!-- <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Switch account</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                            aria-expanded="false">Settings</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div> -->
        </div>
    </nav>

    <%- include('../partials/navScroller'); %>

        <%- include('../partials/svgSymbols'); %>



            <main>
                <!-- <div class="container col-xxl-12 px-4 py-5"> -->
                <img src="../assets/images/ca1.png" class="d-block mx-lg-auto img-fluid" alt="JU E-Summit'21 Logo"
                    width="auto" loading="lazy">
                <!-- </div> -->

                <!-- First hero starts -->

                <div class="container col-xxl-12 px-4 py-5">
                    <!-- <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> -->
                    <!-- <div class="col-10 col-sm-8 col-lg-6"> -->
                    <!-- <img src="../assets/images/ca1.png" class="d-block mx-lg-auto img-fluid"
                                alt="JU E-Summit'21 Logo" width="700" height="500" loading="lazy"> -->

                    <!-- </div> -->
                    <div class="col-lg-12">
                        <h1 class="display-5 fw-bold lh-1 mb-3">Be a part of our extended <p></p><span
                                class="text-secondary">JU
                                E-Cell</span> <span class="text-danger">Family</span></h1>
                        <p class="lead">The Entrepreneurship Cell of Jadavpur University is a student-run
                            organization
                            that
                            works towards promoting and arousing
                            the spirit of entrepreneurship in and around the campus. This is done by a series of
                            start-up
                            workshops, seminars,case
                            study challenges, business-plan competitions, guest talks and other similar events.

                            This year we are proud to announce E-SUMMIT ‘21 which is one of the biggest
                            entrepreneurship
                            events held across eastern
                            India.

                        </p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <!-- <button type="button" href="/ca/apply" class="btn btn-primary btn-lg px-4 me-md-2">Apply
                                Now</button> -->
                            <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Explore
                                More</button> -->
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <!-- First hero ends -->

                <!-- About the Program starts -->
                <div class="container px-4 py-3" id="featured-3">
                    <h1 class="display-4 fw-bold text-center">We <span class="text-primary">don't ask for much</span>.
                    </h1>
                    <p class="fs-4 text-center">Selected interns' day-to-day responsibilities include the
                        following
                    <p>
                    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                        <div class="feature col">
                            <div class="feature-icon bg-primary bg-gradient">
                                <i class="fas fa-id-card-alt"></i>
                            </div>
                            <h2>Point of Contact</h2>
                            <p>Being the single point of contact for all communication between E-Cell, JU and their
                                respective
                                colleges. No indirect
                                communication should take place in any form.</p>
                        </div>
                        <div class="feature col">
                            <div class="feature-icon bg-primary bg-gradient">
                                <i class="fas fa-user-friends"></i>
                            </div>
                            <h2>Promote Campaigns</h2>
                            <p>Developing campus-specific marketing campaigns and promoting all the events of E-Cell, JU
                                in
                                your
                                college community</p>
                        </div>
                        <div class="feature col">
                            <div class="feature-icon bg-primary bg-gradient">
                                <i class="fas fa-tasks"></i>
                            </div>
                            <h2>Manage Participants</h2>
                            <p>Managing participants from their colleges on event day and afterward, to ensure the
                                decorum
                                of JU
                                and the disciplinary
                                guidelines</p>
                        </div>
                    </div>
                    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                        <div class="feature col">
                            <div class="feature-icon bg-primary bg-gradient">
                                <i class="fab fa-angellist"></i>
                            </div>
                            <h2>Distribute schwags</h2>
                            <p>Distributing participation certificates and goodies to their college community</p>
                        </div>
                        <div class="feature col">
                            <div class="feature-icon bg-primary bg-gradient">
                                <i class="fas fa-comment-alt"></i>
                            </div>
                            <h2>Innovate and Connect</h2>
                            <p>Collecting feedback and sharing new ideas from the college community with us</p>
                        </div>
                    </div>
                </div>
                <!-- About the program ends -->

                <!-- Requirements starts -->
                <div class="container px-4 py-5" id="hanging-icons">
                    <h2 class="pb-2 border-bottom">Just the bare minimum is required.</h2>
                    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                        <div class="col d-flex align-items-start">
                            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                                <i class="fas fa-language"></i>
                            </div>
                            <div>
                                <h2>English Proficiency</h2>
                                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with
                                    another
                                    sentence
                                    and probably just keep going until we run out of words.</p>
                                <!-- <a href="#" class="btn btn-primary">
                            Primary button
                        </a> -->
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                                <i class="fas fa-bullhorn"></i>
                            </div>
                            <div>
                                <h2>Social Media Marketing</h2>
                                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with
                                    another
                                    sentence
                                    and probably just keep going until we run out of words.</p>
                                <!-- <a href="#" class="btn btn-primary">
                            Primary button
                        </a> -->
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                                <i class="fab fa-adversal"></i>
                            </div>
                            <div>
                                <h2>Digital Marketing</h2>
                                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with
                                    another
                                    sentence
                                    and probably just keep going until we run out of words.</p>
                                <!-- <a href="#" class="btn btn-primary">
                            Primary button
                        </a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Requirements ends -->

                <!-- Learning Opportunities starts -->

                <div class="container col-xxl-12 px-4 py-3">
                    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                        <div class="col-lg-6 ">
                            <h1 class="display-5 fw-bold lh-1 mb-3">Endless Opportunities to <span
                                    class="text-primary">Learn.</span>
                                <p></p>Flexible work hours.
                            </h1>
                        </div>
                        <div class="col-10 col-sm-8 col-lg-6">

                            <p class="display-6">
                            <ul>
                                <li>Enhance your marketing skills</li>
                                <li>Community Build up</li>
                                <li>Learn how to conduct feedback interviews, focus groups, etc.</li>
                                <li>Great networking opportunity with experienced professionals</li>
                                <li>Access to industry mentors</li>
                            </ul>
                            </p>
                        </div>

                    </div>
                </div>


                <!-- Learning Opportunities ends -->

                <!-- Rewards and Incentives start -->
                <div class="container px-4 py-5" id="icon-grid">
                    <h2 class="pb-2 border-bottom">Rewards and Incentives</h2>

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
                        <div class="col d-flex align-items-start">
                            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                                <i class="fab fa-black-tie"></i>
                            </div>
                            <div>
                                <h4 class="fw-bold mb-0 text-primary">Certificate of Leadership</h4>
                                <p>From Jadavpur University E-Cell</p>
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                                <i class="fas fa-briefcase"></i>
                            </div>
                            <div>
                                <h4 class="fw-bold mb-0">Free Workshops</h4>
                                <p>Free workshop registration for the top 10 performers.</p>
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                                <i class="fas fa-calendar-check"></i>
                            </div>
                            <div>
                                <h4 class="fw-bold mb-0 text-primary">Letter of Recommendation</h4>
                                <p>Letter of Recommendation to top performers</p>
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                                <i class="fas fa-house-user"></i>
                            </div>
                            <div>
                                <h4 class="fw-bold mb-0">Get Featured</h4>
                                <p>Chance to get featured on the proposed E-Cell annual magazine along with a
                                    self-writeup
                                    and
                                    social media handles of
                                    E-Cell, JU</p>
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                                <i class="fas fa-ticket-alt"></i>
                            </div>
                            <div>
                                <h4 class="fw-bold mb-0 text-primary">Free Goodies and E-Summit Passes</h4>
                                <p>Free goodies (merchandise) and direct entry to E-SUMMIT 21 for Top 3 performers</p>
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                                <i class="fas fa-star"></i>
                            </div>
                            <div>
                                <h4 class="fw-bold mb-0">Exclusive Invites</h4>
                                <p>Opportunity to attend exclusive JU E-cell events.</p>
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                                <i class="fas fa-plus-circle"></i>
                            </div>
                            <div>
                                <h4 class="fw-bold mb-0 text-primary">Expand your Network</h4>
                                <p>Network building across colleges</p>
                            </div>
                        </div>
                        <!-- <div class="col d-flex align-items-start">
                    <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                        <use xlink:href="#tools" />
                    </svg>
                    <div>
                        <h4 class="fw-bold mb-0">Featured title</h4>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div> -->
                    </div>
                </div>
                <!-- Rewards and incentives end -->

                <!-- CA Form starts -->
                <%- include('../partials/pageEssentials/ca-short-form'); %>
                    <!-- CA Form ends -->

            </main>


            <%- include('../partials/footer2'); %>

                <script src="../assets/js/navBar.js"></script>
</body>

</html>